{% extends 'blog/base.html' %}
{% load static %}
{% block contain %}
<div class="col-sm-10">
    <div class="align-items-md-stretch colorjumbo my-5">
        <div class="h-100 p-5 text-white bg-dark rounded-3 container">
            <h1 class="display-6">About Page</h1>
            
    <p class="lead"><p>Visualization and Strategy are the two most vital functions while developing and designing any Website, Software, Graphics, Games on which we give proper attention.</p>
    <p>We are a team of individuals dedicated and committed wholly to provide you with a user-friendly,responsive website, software, and games in Mumbai.
    </p> <p>We understand and analyze what the client wants with the proper gathering of requirements, and provide them the finest website with low traffic and smooth experience. 
        We also provide Domain & Hosting at nominal rates.</p></p>

    
                
               </div>
           </div>


</div>







        {% endblock contain %}